@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:white">
    <h1>4th Year Project</h1>
   <p> The User will the following data and perform a Call or Put option depending on which is selected and will be saved to a database</p>
    <ul>
        <li>Contract Name</li>
        <li>Current Price</li>
        <li>Expiry Date</li>
        <li>Strike \ Spot Price</li>
        <li>Implied Volatility</li>
        <li>Risk Free Rate (E.G. Govt Bond Like <a href="https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=yield" target="_blank" style="color:blue"><b>US Daily Yield Curve</b></a>)</li>
        <li>Option Type (Call \ Put)</li>
    </ul>
    <h2><b>Links To Stock Markets</b></h2>
    <p><b><a href="https://finance.yahoo.com/" target="_blank" style="color:blue">Yahoo Finance</a></b></p>
    <p><b><a href="https://www.google.com/finance" target="_blank" style="color:blue">Google Finance</a></b></p>
</div>


